.map {
  position: relative;
  &__iframe {
    width: 100%;
    min-width: 1200px;
    height: 416px;
  }

  &__wrapper {
    width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  &__contacts {
    position: absolute;
    top: -362px;
    left: 40px;
  }
}
