.product {
  margin-top: 50px;
  display: flex;
  flex-flow: wrap;

  &__item {
    width: 360px;
    margin-top: 40px;
    margin-bottom: 33px;
    border-radius: 2px 2px 0 0;
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 41px;
      background-color: #e9e9e9;
      border-radius: 2px 2px 0 0;
      position: absolute;
      top: -39px;
      left: 0;
    }

    &::after {
      content: '\25cf' '\25cf' '\25cf'; 
      color: #fff;
      font-size: 25px;
      line-height: 25px;
      position: absolute;
      top: -33px;
      left: 16px;
    }

    &:nth-child(odd) {
      margin-right: 40px;
    }
    &:hover .product__item-box {
      opacity: 1;
      transition: 0.2s;
    }
    &:hover::before {
      background-color: #4d4d4d;
      transition: 0.2s;
    }
    &-box {
      width: 100%;
      height: 230px;
      padding: 30px 60px 43px;
      background-color: #e9e9e9;
      display: flex;
      flex-flow: column;
      align-items: center;
      text-align: center;
      position: absolute;
      bottom: 1px;
      left: 0;
      opacity: 0;
    }
  }

  &__title {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #666;
  }
  &__link {
    margin-top: auto;
    width: 200px;
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    color: #fff;
  }
}
