<% var data = {
  title: "nerds",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="benefit">
    <div class="benefit__wrapper">
        <div class="benefit__wrapper-btn">
            <button class="benefit__btn"></button>
            <button class="benefit__btn"></button>
            <button class="benefit__btn"></button>
        </div>
        <!-- /.benefit__wrapper-btn -->
        <div class="benefit__box">
            <h2 class="benefit__title">Долго, дорого, скрупулезно.</h2>
            <p class="benefit__text">Математически выверенный дизайн для вашего сайта или мобильного приложения.</p>
            <a class="benefit__link" href="#">Узнать больше</a>
        </div>
        <!-- /.benefit__box -->
        <div class="benefit__box">
            <h2 class="benefit__title">Любим математику как никто другой</h2>
            <p class="benefit__text">Никакого креатива, только матемамические формулы для расчета идеальных пропорций.
            </p>
            <a class="benefit__link" href="#">Узнать больше</a>
        </div>
        <!-- /.benefit__box -->
        <div class="benefit__box">
            <h2 class="benefit__title">только ночь, только хардкор</h2>
            <p class="benefit__text">Работать днем, как все? Мы против этого. Ближе к полуночи работа только начинается.
            </p>
            <a class="benefit__link" href="#">Узнать больше</a>
        </div>
        <!-- /.benefit__box -->
    </div>
    <!-- /.benefit__wrapper -->
</section>
<!-- /.benefit -->

<section class="skills">
    <div class="skills__box">
        <img class="skills__img" src="" alt="">
        <h3 class="skills__title">Веб-сайты</h3>
        <p class="skills__text">Мир никогда не будет прежним после того как увидит ваш сайт!</p>
        <a class="skills__link" href="#">Заказать</a>
    </div>
    <!-- /.product__box -->
    <div class="skills__box">
        <img class="skills__img" src="" alt="">
        <h3 class="skills__title">Приложения</h3>
        <p class="skills__text">Покорите топ-10 приложений в AppStore и Google Play</p>
        <a class="skills__link" href="#">Заказать</a>
    </div>
    <!-- /.product__box -->
    <div class="skills__box">
        <img class="skills__img" src="" alt="">
        <h3 class="skills__title">Презентации</h3>
        <p class="skills__text">Вы даже не подозреваете, насколько вы изумительны!</p>
        <a class="skills__link" href="#">Заказать</a>
    </div>
    <!-- /.product__box -->
</section>
<!-- /.product -->

<section class="information">

    <h2 class="information__title">Мы маленькая, но гордая дизайн-студия из Краснодара.</h2>
    <p class="information__text">Исповедуем принципы минимализма и чистоты. Ставим математический расчет превыше
        креатива.
        Раиотаем не покладая рук, как работы.
    </p>

    <div class="information__wrapper_flex">
        <div class="information__box">
            <p class="information__text_bold">Выполняем заказы на разработку:</p>
            <ul class="information__list">
                <li class="information__item">Веб-сайтов любой сложности</li>
                <li class="information__item">Мобильных приложений для IOS и Android</li>
                <li class="information__item">Слайд-шоу и видео для корпоративных презентаций</li>
            </ul>
        </div> <!--/information__box -->

        <div class="information__box"> 
            <p class="information__text_bold">С 2004 года любим точность во всем:</p>
            <div class="information__wrapper_flex"> 
                <div class="information__bl">
                    <p class="information__number">146<sup>%</sup></p>
                    <p class="information__txt">Уровень<br> самоотдачи</p>
                </div>
                <div class="information__bl">
                    <p class="information__number">100 <sup>%</sup></p>
                    <p class="information__txt">Соблюдение<br> сроков</p>
                </div>
                <div class="information__bl">
                    <p class="information__number">50 <sup>%</sup></p>
                    <p class="information__txt">Минимальная<br> предоплата </p>
                </div>
              
            </div>

        </div> <!-- / information__box-->

    </div>

</section>
<!-- /.information -->

<section class="our-projects"> 
    <div class="our-projects__wrapper">
        <div class="our-projects__box">
            <img class="our-projects__img" src="" alt="">
        </div> 
        <div class="our-projects__box">
            <img class="our-projects__img" src="" alt="">
        </div>
        <div class="our-projects__box">
            <img class="our-projects__img" src="" alt="">
        </div>
        <div class="our-projects__box">
            <img class="our-projects__img" src="" alt="">
        </div>
    </div>
</section> <!--/our-projects-->



<%= _.template(require('./../includes/footer.html').default)(data) %>