<% var data = {
  title: "nerds Магазин",
  author: ""
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="shop">
  <div class="shop__wrap-title">
    <h1 class="shop__title">Магазин готовых шаблонов</h1>
  </div>
  <div class="shop__wrapper">

    <div class="shop__box">
      <form class="shop__form form" action="shop.html">
        <div class="form__box">
          <h3 class="form__title">Стоимость:</h3>
          <div class="form__range-wrap">
            <div class="form__range-ahead"></div>
            <div class="form__range-behind"></div>
            <div class="form__range-slider form__range-slider_start"></div>
            <div class="form__range-slider form__range-slider_end"></div>
          </div>

          <div class="form__number-wrap">
            <label class="form__number-label" for="form-number-input-from">от
              <input class="form__number-input" id="form-number-input-from" type="text" value="0" maxlength='5'
                pattern="[0-9]{1,5}">
            </label>

            <label class="form__number-label" for="form-number-input-until">до
              <input class="form__number-input" id="form-number-input-until" type="text" value="15000" maxlength='5'>
            </label>

          </div>


        </div>
        <!--/form__box-->
        <div class="form__box">
          <h3 class="form__title">Сетка:</h3>
          <input class="form__input-radio none" id="input-radio-adaptive" type="radio" name="radio" value="adaptive"
            checked>
          <label class="form__label-radio" for="input-radio-adaptive">Адаптивная</label>
          <input class="form__input-radio none" id="input-radio-fixed" type="radio" name="radio" value="fixed">
          <label class="form__label-radio" for="input-radio-fixed">Фиксированная</label>
          <input class="form__input-radio none" id="input-radio-rubber" type="radio" name="radio" value="rubber"
            disabled>
          <label class="form__label-radio" for="input-radio-rubber">Резиновая</label>

        </div>
        <!--/form__box-->
        <div class="form__box">
          <h3 class="form__title">Особенности:</h3>
          <input class="form__input-checkbox none" id="input-checkbox-slider" type="checkbox" name="checkbox"
            value="slider" checked>
          <label class="form__label-checkbox" for="input-checkbox-slider">Слайдер</label>
          <input class="form__input-checkbox none" id="input-checkbox-advantages" type="checkbox" name="checkbox"
            value="advantages">
          <label class="form__label-checkbox" for="input-checkbox-advantages">Блок преимуществ</label>
          <input class="form__input-checkbox none" id="input-checkbox-news" type="checkbox" name="checkbox" value="news"
            checked>
          <label class="form__label-checkbox" for="input-checkbox-news">Новости</label>
          <input class="form__input-checkbox none" id="input-checkbox-gallery" type="checkbox" name="checkbox"
            value="gallery">
          <label class="form__label-checkbox" for="input-checkbox-gallery">Галерея</label>
          <input class="form__input-checkbox none" id="input-checkbox-basket" type="checkbox" name="checkbox"
            value="basket">
          <label class="form__label-checkbox" for="input-checkbox-basket">Корзина</label>

        </div>
        <!--/form__box-->

        <button class="form__btn" type="submit">Показать</button>
      </form>
      <!--/form-->

    </div>
    <!--/shop__box-->

    <div class="shop__box">

      <div class="sorting">
        <h3 class="sorting__title">Сортировать:</h3>
        <div class="sorting__box">
          <button class="sorting__btn sorting__btn_selected">По цене</button>
          <button class="sorting__btn">По типу</button>
          <button class="sorting__btn">По названию</button>
          <button class="sorting__btn-arrow sorting__btn-arrow-down sorting__btn-arrow_selected">&#9660;</button>
          <button class="sorting__btn-arrow sorting__btn-arrow-up">&#9650;</button>
        </div>
      </div>
      <!--/sorting-->

      <div class="product">

        <div class="product__item">

          <img class="product__img" src="img/img-sedona.jpg" alt="">
          <div class="product__item-box">
            <h3 class="product__title">Sedona</h3>
            <p class="product__text">Информационный сайт для туристов</p>
            <a class="product__link btn" href="#">9 900 руб.</a>
          </div>
        </div>
        <div class="product__item">

          <img class="product__img" src="img/img-pink.jpg" alt="">
          <div class="product__item-box">
            <h3 class="product__title">Pink app</h3>
            <p class="product__text">Продуктовый лендинг приложения IOS и Android</p>
            <a class="product__link btn" href="#">9 900 руб.</a>
          </div>
        </div>
        <div class="product__item">

          <img class="product__img" src="img/img-barbershop.jpg" alt="">
          <div class="product__item-box">
            <h3 class="product__title">img-barbershop</h3>
            <p class="product__text">Сайт салоны красоты. Для мужчин, да.</p>
            <a class="product__link btn" href="#">9 900 руб.</a>
          </div>
        </div>
        <div class="product__item">

          <img class="product__img" src="img/img-mishka.jpg" alt="">
          <div class="product__item-box">
            <h3 class="product__title">Mishka</h3>
            <p class="product__text">Интернет-магазин вязяных игрушек</p>
            <a class="product__link btn" href="#">9 900 руб.</a>
          </div>
        </div>
        <div class="product__item">

          <img class="product__img" src="img/img-aplus.jpg" alt="">
          <div class="product__item-box">
            <h3 class="product__title">A plus</h3>
            <p class="product__text">Лендинг курсов повышения квалификации</p>
            <a class="product__link btn" href="#">9 900 руб.</a>
          </div>
        </div>
        <div class="product__item">

          <img class="product__img" src="img/img-kvas.jpg" alt="">
          <div class="product__item-box">
            <h3 class="product__title">Кваст</h3>
            <p class="product__text">Промо-сайт производителя крафтового кваса</p>
            <a class="product__link btn" href="#">9 900 руб.</a>
          </div>
        </div>
      </div>
      <!--/product-->

      <div class="pagenation">
        <a class="pagenation__link pagenation__link_selected" href="#">1</a>
        <a class="pagenation__link" href="#">2</a>
        <a class="pagenation__link" href="#">3</a>
        <a class="pagenation__link pagenation__link_big" href="#">Следующая</a>
      </div>
      <!--/pagenation-->



    </div>
    <!--/shop__box-->



  </div>
  <!--/shop__wrapper-->


</section>
<!--/shop-->

<%= _.template(require('./../includes/footer.html').default)(data) %>